<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<title>修改个人资料-Doujinshi</title>
		<script type="text/javascript">
			{% for message in get_flashed_messages() %}
			window.alert("{{message}}") 
			{% endfor %}
		</script>
		<style>
			#root{
				background-image: url(/static/background.jpg) !important;
			}
		</style>
		<link rel="shortcut icon" href="/static/shortcut.png" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="/static/css/index.css">
		<link rel="stylesheet" type="text/css" href="/static/css/submit.css" />
	</head>
	<body>
		<div id="root">
			<div id="main">
				<form method="post" enctype="multipart/form-data">
					<fieldset>
						<legend>Configure</legend>
						<ul>
							<li></li>
							<li><label>昵称:</label><input type="text" name="username" data-valid="isNonEmpty"
									placeholder="无特殊字符[2-20]" pattern="[^\n,$*%.? ]{2,20}" required/></li>
							<li><label>邮箱:</label><input type="email" name="email" required/></li>
							<li><input type="text" name="enable_img" data-valid="isNonEmpty" pattern="[tf]"
									style="display: none;" />
								<hr />
							</li>
							<li style="align-items: flex-start;z-index: 10;">
								<div id="head_img" style="background-image:url('../static/img/user/no_head.png');">
								</div>
							</li>
							<li><input id="file-input" type="file" accept="image/*" name="head_img"
									style="display: none;" /></li>
							<li></li>
							<li><span id="click-span" class="disabled">更换头像</span></li>
							<li>
								<hr />
							</li>
							<li><input type="submit" value="提交" /></li>
							<script type="text/javascript">
								const upload = () => {
									return document.getElementById("file-input").click();
								};
								document.getElementById("head_img").addEventListener("click", () => {
									upload();
								});
								document.getElementById("file-input").addEventListener("change", () => {
									let head_img = URL.createObjectURL(document.getElementById("file-input").files[0]);
									document.getElementById("head_img").style.backgroundImage = "url(" + head_img + ")";
								});
								const username = document.getElementsByTagName("input")[0];
								username.value = "{{username}}";
								const email = document.getElementsByTagName("input")[1];
								email.value = "{{email}}";
								const enable_img = document.getElementsByTagName("input")[2];
								enable_img.value = "f";
								const click_span = document.getElementById("click-span");
								click_span.addEventListener("click", () => {
									if (enable_img.value == "f"){
										enable_img.value = "t";
										click_span.className = "";
									}else{
										enable_img.value = "f";
										click_span.className = "disabled";
									}
								})
							</script>
							<li><a href="{{user}}">返回</a></li>
						</ul>
					</fieldset>
				</form>
			</div>
		</div>
	</body>
</html>