<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<title>用户登录-Doujinshi</title>
		<style>
			
		</style>
		<link rel="shortcut icon" href="/static/shortcut.png" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="/static/css/index.css">
		<link rel="stylesheet" type="text/css" href="../static/css/submit.css" />
	</head>
	<body>
		<div id="root">
			<div id="main">
				<form method="post">
					<fieldset>
						<legend>Configure</legend>
						<ul>
							<li><label>用户名:</label><input type="text" name="user_name" /></li>
							<li><label>新头像</label><div id="head_img" style="background-image:url('../static/img/user/no_head.png');"></div></li>
							<li></li>
							<li></li>
							<li><input type="submit" value="提交" /></li>
							<li></li>
						</ul>
					</fieldset>
				</form>
			</div>
		</div>
	</body>
</html>
