<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<title>Doujinshi</title>
		<style>
			#root{
				background-image: url(static/background.jpg) !important;
			}
		</style>
		<link rel="shortcut icon" href="/static/shortcut.png" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	</head>
	<body>
		<div id="root">
			<div id="main">
				<a href="home">
					<span>DouJinShi</span>
					<span id = "gradient">DouJinShi</span>
					<span id = "shadow">DouJinShi</span>
					<div id ="l" class="arr">&gt;</div>
					<div id ="r" class="arr">&lt;</div>
				</a>
			</div>
		</div>
	</body>
</html>