<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<title>主页-Doujinshi</title>
		<link rel="shortcut icon" href="/static/shortcut.png" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
		<link rel="stylesheet" type="text/css" href="/static/css/scroll.css">
	</head>
	<body>
		<div id="root">
			<article>
				<header>
					<nav>
						<div class="left">
							<div class="button" onmouseenter="hoverin()" onmouseleave="hoverout()" onclick="asideon()">
								<div class="three">
									<div class="first"></div>
									<div class="second"></div>
									<div class="third"></div>
								</div>
								<script type="text/javascript">
									var revolve = false;
									var rowing = false;
									const up = document.querySelector("div.first");
									const down = document.querySelector("div.third");
									const mid = document.querySelector("div.second");
									var deg = 0;
									var row;
									const hoverin = () => {
										revolve = false
										if (rowing == false) {
											row = setInterval(function() {
												rotate()
											}, 15)
										}
									}
									const hoverout = () => {
										revolve = true
										if (rowing == false) {
											row = setInterval(function() {
												rotate()
											}, 20)
										}
									}
									const increase = () => {
										if (revolve == false) {
											deg += 5;
										} else {
											deg -= 5;
										}
									}
									const rotate = () => {
										rowing = true
										if (deg <= 0 && revolve == true) {
											rowing = false
											clearInterval(row)
										}
										if (deg >= 50 && revolve == false) {
											rowing = false
											clearInterval(row)
										}
										if (rowing == true) {
											increase()
											up.style = "transform: rotate(" + deg + "deg)";
											mid.style = "width:" + (1 - deg / 50) + "em";
											down.style = "transform: rotate(-" + deg + "deg)";
										}
										console.log(deg)
									}
								</script>
							</div>
							<div><span class="title">DouJinShi</span></div>
						</div>
						<div class="search">

						</div>
						<div class="right">

						</div>
					</nav>
				</header>
				<span class="mask"></span>
				<aside>
					<div class="left">
						<div class="button" onclick="asideoff()">
							<div class="three">
								<div class="first"></div>
								<div class="second"></div>
								<div class="third"></div>
							</div>
						</div>
						<div><span class="title">DouJinShi</span></div>
					</div>
					<ul>
						<li><span>首页</span></li>
						<li><a href="{{manga}}">漫画</a></li>
						<li><a href="{{illustration}}">画册</a></li>
						<li><a href="{{novel}}">同人文</a></li>
						<li><a class="active">刊物</a></li>
						<li><span>用户</span></li>
						<li><a href="{{user}}">主页</a></li>
						<li><a href="{{upload}}">上传</a></li>
						<li><a href="{{logout}}">退出登录</a></li>
						<li><span>个人设置</span></li>
						<li><a href="{{configure}}">编辑个人资料</a></li>
						<li><a href="{{reset}}">变更密码</a></li>
						{% if dev == True %}
						<li><span>管理员</span></li>
						<li><a href="{{admin}}">管理员界面</a></li>
						<li><a href="{{review}}">审核</a></li>
						{% endif %}
					</ul>
					<script type="text/javascript">
						const aside = document.querySelector("aside")
						const mask = document.querySelector(".mask")
						const discover = () => {
							mask.style.display = "none";
						}
						const changecolor = () => {
							mask.style.opacity = "0.2";
						}
						const asideon = () => {
							aside.style.left = "0rem";
							mask.style.display = "block";
							setTimeout(changecolor, 0)
						}
						const asideoff = () => {
							aside.style.left = "-15rem";
							mask.style.opacity = "0";
							setTimeout(discover, 600)
						}
						mask.addEventListener("click", () => {
							asideoff()
						})
					</script>
				</aside>
				<div class="tags">
					<div><a><span>atga</span></a></div>
					<div><a><span>tagb</span></a></div>
					<div><a><span>qifbquvbiqbvpiqe</span></a></div>
					<div><a><span>dwvw2</span></a></div>
					<div><a><span>qv33n135</span></a></div>
					<div><a><span>ntr</span> </a></div>
					<div><a><span>qifbquvbiqbvpiqe</span></a></div>
					<div><a><span>dwvw2</span></a></div>
					<div><a><span>qv33n135</span></a></div>
					<div><a><span>ntr</span> </a></div>
				</div>
				<div class="nav">
					<nav>
						<a href="{{manga}}"><span>漫画</span></a>
						<a href="{{illustration}}"><span>画册</span></a>
						<a href="{{novel}}"><span>同人文</span></a>
						<a class="active"><span>刊物</span></a>
					</nav>
					<div>
						<div class="active"><span>一般向</span></div>
						<div><span>特殊向</span></div>
					</div>
				</div>
				<div>
					<section>
						<div><span>收藏的刊物</span><a>查看全部</a></div>
						<ul class="inline">
							{% if collection_list|length == 0 %}
							<span>没有收藏的刊物</span>
							{% else %}
							{% for doujinshi in collection_list %}
							<div>
								<a href="{{doujinshi[0]}}">
									<div class="mask"></div>
									<div style="background-image: url({{doujinshi[2]}});"></div>
								</a>
								<span><a href="{{doujinshi[0]}}">{{doujinshi[1]}}</a></span>
							</div>
							{% endfor %}
							{% endif %}
						</ul>
					</section>
				</div>
				<div>
					<section>
						<div><span>随机推荐</span></div>
						<ul>
							{% if random_list|length == 0 %}
							<span>没有推荐的刊物</span>
							{% else %}
							{% for doujinshi in random_list %}
							<li>
								<a href="{{doujinshi[0]}}">
									<div class="mask"></div>
									<div style="background-image: url({{doujinshi[2]}});"></div>
								</a>
								<span><a href="{{doujinshi[0]}}">{{doujinshi[1]}}</a></span>
							</li>
							{% endfor %}
							{% endif %}
						</ul>
					</section>
				</div>
				<!--
				<div>
					<section>
						<div></div>
						<ul>
							<li>
								<a>
									<div></div>
									<div></div>
								</a>
								<span><a></a></span>
							</li>
						</ul>
					</section>
				</div>
				-->
			</article>
		</div>
	</body>
</html>