<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<title>重置密码-Doujinshi</title>
		<script type="text/javascript">
			{% for message in get_flashed_messages() %}
			window.alert("{{message}}") 
			{% endfor %}
		</script>
		<link rel="shortcut icon" href="/static/shortcut.png" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="/static/css/index.css">
		<link rel="stylesheet" type="text/css" href="../static/css/submit.css" />
	</head>
	<body>
		<div id="root">
			<div id="main">
				<form method="post" enctype="multipart/form-data">
					<fieldset>
						<legend>Reset</legend>
						<ul>
							<li><label>功能尚未实现</label></li>
							<li></li>
							<li></li>
							<li></li>
							<li><hr /></li>
							<li><a href="{{user}}">返回</a></li>
						</ul>
					</fieldset>
				</form>
			</div>
		</div>
	</body>
</html>