<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<title>上传作品-DouJinShi</title>
		<link rel="shortcut icon" href="/static/shortcut.png" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
		<link rel="stylesheet" type="text/css" href="/static/css/scroll.css">
		<link rel="stylesheet" type="text/css" href="/static/css/upload.css" />
	</head>
	<body>
		<div id="root">
			<article>
				<header>
					<nav>
						<div class="left">
							<div class="button" onmouseenter="hoverin()" onmouseleave="hoverout()" onclick="asideon()">
								<div class="three">
									<div class="first"></div>
									<div class="second"></div>
									<div class="third"></div>
								</div>
								<script type="text/javascript">
									var revolve = false;
									var rowing = false;
									const up = document.querySelector("div.first");
									const down = document.querySelector("div.third");
									const mid = document.querySelector("div.second");
									var deg = 0;
									var row;
									const hoverin = () => {
										revolve = false
										if (rowing == false) {
											row = setInterval(function() {
												rotate()
											}, 15)
										}
									}
									const hoverout = () => {
										revolve = true
										if (rowing == false) {
											row = setInterval(function() {
												rotate()
											}, 20)
										}
									}
									const increase = () => {
										if (revolve == false) {
											deg += 5;
										} else {
											deg -= 5;
										}
									}
									const rotate = () => {
										rowing = true
										if (deg <= 0 && revolve == true) {
											rowing = false
											clearInterval(row)
										}
										if (deg >= 50 && revolve == false) {
											rowing = false
											clearInterval(row)
										}
										if (rowing == true) {
											increase()
											up.style = "transform: rotate(" + deg + "deg)";
											mid.style = "width:" + (1 - deg / 50) + "em";
											down.style = "transform: rotate(-" + deg + "deg)";
										}
										console.log(deg)
									}
								</script>
							</div>
							<div><span class="title">DouJinShi</span></div>
						</div>
						<div class="search">

						</div>
						<div class="right">

						</div>
					</nav>
				</header>
				<span class="mask"></span>
				<aside>
					<div class="left">
						<div class="button" onclick="asideoff()">
							<div class="three">
								<div class="first"></div>
								<div class="second"></div>
								<div class="third"></div>
							</div>
						</div>
						<div><span class="title">DouJinShi</span></div>
					</div>
					<ul>
						<li><span>首页</span></li>
						<li><a href="{{manga}}">漫画</a></li>
						<li><a href="{{illustration}}">画集</a></li>
						<li><a href="{{novel}}">小说</a></li>
						<li><a href="{{magazine}}">杂志</a></li>
						<li><span>用户</span></li>
						<li><a href="{{user}}">主页</a></li>
						<li><a class="active">上传</a></li>
						<li><a href="{{logout}}">退出登录</a></li>
						<li><span>设置</span></li>
						<li><a></a></li>
						<li><a></a></li>
						<li><a></a></li>
						<li><a></a></li>
					</ul>
					<script type="text/javascript">
						const aside = document.querySelector("aside")
						const mask = document.querySelector(".mask")
						const discover = () => {
							mask.style.display = "none";
						}
						const changecolor = () => {
							mask.style.opacity = "0.2";
						}
						const asideon = () => {
							aside.style.left = "0rem";
							mask.style.display = "block";
							setTimeout(changecolor, 0)
						}
						const asideoff = () => {
							aside.style.left = "-15rem";
							mask.style.opacity = "0";
							setTimeout(discover, 600)
						}
						mask.addEventListener("click", () => {
							asideoff()
						})
					</script>
				</aside>
				<div>
					<form method="post" enctype="multipart/form-data">
						<fieldset>
							<legend>UpLoad</legend>
							<ul class="form">
								<li style="grid-area: 1/1/3/2;"><label>标题:</label><input type="text" name="doujinshi_name" required /></li>
								<li style="grid-area: 4/1/6/2;"><label>作者:</label><input list="author" type="text" name="author_name" /></li>
								<datalist id="author">
									{%for author in authors %}
									<option value="{{author}}">
										{% endfor %}
								</datalist>
								<li style="grid-area: 7/1/9/2;"><label>类型:</label><select name="type_id">
										{%for class in classes %}
										<option value="{{class[0]}}">{{class[1]}}</option>
										{% endfor %}
									</select></li>
								<li style="grid-area: 10/1/12/2;"><label>同人展:</label><input type="text" name="market" /></li>
								<li style="grid-area: 13/1/15/2;"><label>页数:</label><input type="number" name="pages" /></li>
								<li style="grid-area: 16/1/18/2;"><label>封面:</label><input id="file-input" type="file" accept="image/*" name="doujinshi_cover" /><span id="upload-span">上传文件</span></li>
								<li style="grid-area: 1/2/17/3;justify-content: center;"><div id="cover" style="background-image:url('../static/review/no_cover.png');"></div></li>
								<li style="grid-area: 18/1/19/3;"><hr /></li>
								<li style="grid-area: 20/1/22/2;"><input type="submit" value="提交" /></li>
								<li style="grid-area: 20/2/22/3;"><a href="{{user}}">返回</a></li>
							</ul>
							<script>
								const upload = () => {
									return document.getElementById("file-input").click();
								};
								document.getElementById("upload-span").addEventListener("click", () => {
									upload();
								});
								document.getElementById("cover").addEventListener("click", () => {
									upload();
								});
								document.getElementById("file-input").addEventListener("change", () => {
									let cover = URL.createObjectURL(document.getElementById("file-input").files[0]);
									document.getElementById("cover").style.backgroundImage = "url(" + cover + ")";
								});
							</script>
						</fieldset>
					</form>
				</div>
			</article>
		</div>
	</body>
</html>